/* STYLE SHEET FOR INDEX.HTM */


h1 {
    font-family: arial, helvetica, geneva, sans-serif;
}


body {
    font-size: 80%;
    font-family: Arial, Helvetica, Geneva, sans-serif;
}

footer {
    font-size: 80%;
    text-align: center;
}


h1.right {
    text-align: right;
}

nav {
    background: #d8d8d8;
    font-weight: bold;
    float: left;
    height: 420px;
}